<!DOCTYPE html>
<html>
    <head>
        <title>App Title</title>
        <style>
            /*css here*/
        </style>
    </head>
    <body>
        <h1>Your AI App</h1>
        <p>Simply upload a photo, and our AI will do the rest! The results will be sent to the email address you provide -no
            accounts to keep track of here.
        </p>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label fpr="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="file">File:</label>
            <input type="file" id="file" name="file"><br><br>
            <input type="submit" value="Buy Now ($3.50)">
        </form>

        <p>You probaly want some examples here...</p>
        <h2><a href="/readme">What is this?</a></h2>
    </body>
</html>